#profile_box {
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 100px;
    padding-top: 150px;
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 50px;
}
